<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712471692004-mhgh88qtdnkrsdfe1mn76h3nfb41f9li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712471692004-mhgh88qtdnkrsdfe1mn76h3nfb41f9li</string>
	<key>API_KEY</key>
	<string>AIzaSyBbcAJ_noe3jK1O6TJeDyVfinzse2BcUUE</string>
	<key>GCM_SENDER_ID</key>
	<string>712471692004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dh.uilogin</string>
	<key>PROJECT_ID</key>
	<string>denemeprojefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>denemeprojefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712471692004:ios:2e9a7a145de7917c8222f1</string>
</dict>
</plist>